
        <header class="section-cards__header">
                <h1>NOVEDADES</h1>
                <!-- <p>QUE LA FUERZA TE ACOMPAÑE</p> -->
        </header>
        <section class="section-cards">
            
        <div class="cards-container">
            <% articles.forEach(article => { %>
            <div class="card">
                <!-- <a class="card__link-add-to-cart" href="">comprar</a> -->
                <article class="card__article">
                    <a href="#" class="card__image-container">
                        <img 
                        class="card__image" 
                        src="<%= article.image %>" 
                        alt="<%= article.cloudinary_id %>"
                        />
                    </a>
                    <div class="card__content">
                        <h3 class="card__heading"><%= article.name %></h3>
                        <p><%= article.markdown %></p>
                        <a href="/<%= article.slug %>" class="form_linkButton" class="bot">Ver más</a>

                        <form
                        action="/<%= article.id %>?_method=DELETE"
                        method="POST"
                        class="form_f"
                        >
                            <button type="submit" class="button_submit_red" class="bot">Eliminar</button>
                        </form>
                    </div>
                </article>
            </div>
            <% }); %>

        </div>
        <footer class="section-cards__footer"></footer>
        </section>
